node_modules
.env
.env.local
.env.prd
dist/
push_clean.log
push_fails.log
push_fails.txt
push_fails2.log
push3.log
push.log
push_error.txt

# Docker
db_data/

# Documentos generados
*.docx